@using WhiteHat.Models
@inject NavigationManager NavigationManager

<div class="hnlistitem-comment @(_collapse ? "collapsed" : string.Empty)">
    <div class="collapse" @onclick=@(() => _collapse = !_collapse) ></div>
    <content>
        <div class="comment-info">
            @if (_collapse)
            {
                <span class="expand" @onclick=@(() => _collapse = !_collapse)>
                    <span class="material-icons-round collapse-inline">
                        expand_more
                    </span>
                    @if (Item.KidCount > 0)
                    {
                        <div>
                           +@(Item.KidCount)
                        </div>
                    }
                </span>
            }
            else{
                <span class="material-icons-round collapse-inline" @onclick=@(() => _collapse = !_collapse)>
                    expand_less
                </span>
            }
            <p class="p @(Item.Author == Op ? "op" : string.Empty)" @onclick=@OpenAuthor>
                @Item.Author
                @if (Item.Author == Op)
                {
                    <span>OP</span>
                }
            </p>
            @if(_collapse){
                <div class="body-collapsed">
                    @((MarkupString)Item.Text)
                </div>
            }
            <span>
                @Item.TimeSince()
            </span>
        </div>
        @if (!_collapse)
        {
            <p class="body">
                @((MarkupString)Item.Text)
            </p>
            @if (Item.Children.Any())
            {
                <div class="hnlistitem-comment-replies">
                    @foreach (var kid in Item.Children)
                    {
                        @if (kid is not null && !string.IsNullOrWhiteSpace(kid.Text) && !string.IsNullOrWhiteSpace(kid.Author))
                        {
                            <HnListItemComment Item="kid" Op="@Op" />
                        }
                    }
                </div>
            }
        }
    </content>
</div>

@code {
    [Parameter]
    public HnItemAlgolia Item { get; set; }

    [Parameter]
    public string Op { get; set; }

    private bool _collapse;

    private void OpenAuthor()
    {
        NavigationManager.NavigateTo("/u/" + Item.Author);
    }
}
